---
import ExperienceItem from './ExperienceItem.astro'
const EXPERIENCIE = [
  {
    date: 'Abril 2024 - Diciembre 2024',
    title: 'Desarrollador backend',
    company: 'Shop365 (Part time)',
    description:
      'Responsable de la migración y actualización del proyecto "pedidos.gratis" utilizando las tecnologías Laravel y Vue.js',
  },
]
---

<ol class="relative mt-16">
  {
    EXPERIENCIE.map((experiencie) => (
      <li class="">
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }
</ol>
