---
import ExperienceItem from './ExperienceItem.astro'
const EXPERIENCE = [
  {
    date: 'Abril 2024 - Presente',
    title: 'Desarrollador back-end',
    company: 'Chatealo (Part time)',
    description:
      'Responsable de la migración y desarrollo del proyecto "Pedidos Gratis" utilizando las tecnologías Laravel y Vue.js',
  },
]
---

<ol class="relative mt-16">
  {
    EXPERIENCE.map((experience) => (
      <li class="">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
