---
import Angular from './icons/Angular.astro'
import NodeJS from './icons/NodeJS.astro'
import Typescript from './icons/Typescript.astro'
import Sql from './icons/Sql.astro'
import DotNet from './icons/DotNet.astro'
import Vue from './icons/Vue.astro'
import Laravel from './icons/Laravel.astro'
import Mongo from './icons/Mongo.astro'
import SkillCategory from './SkillCategory.astro'

const FRONT = [
  {
    lang: 'Angular',
    icon: Angular,
  },
  {
    lang: 'Vue.js',
    icon: Vue,
  },
  {
    lang: 'Typescript',
    icon: Typescript,
  },
]

const BACK = [
  {
    lang: '.NET',
    icon: DotNet,
  },
  {
    lang: 'Laravel',
    icon: Laravel,
  },
  {
    lang: 'NodeJS',
    icon: NodeJS,
  },
]
const DATABASE = [
  {
    lang: 'MySQL',
    icon: Sql,
  },
  {
    lang: 'MongoDB',
    icon: Mongo,
  },
]
---

<div class="flex flex-row justify-between items-center gap-10">
  <SkillCategory title="Frontend" skills={FRONT} />
  <SkillCategory title="Backend" skills={BACK} />
  <SkillCategory title="Databases" skills={DATABASE} />
</div>
